.journal__main-content {
  display: flex;
  background-color: lightcyan;
}

.journal__sidebar {
  color: white;
  background-color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  min-width: 600px;
  height: 100vh;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;

  transition: color 0.3 ease;

  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.jorunal__entries {
  margin-top: 30px;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.journal__entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-gray;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
  margin-right: 10px;
  height: 150px;
}

.journal__entry-picture {
  height: 150px;
  width: 33%;
  background-position: center;
  outline: 1px solid black;
}

.journal__entry-body {
  padding-left: 7px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;

  padding-right: 0px;
  max-width: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.journal__entry-description {
  margin-right: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: unset;
}

.journal__entry-title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 3px;
}

.journal__entry-content {
  font-size: 12px;
  padding-left: 3px;
}

.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  font-size: 10px;
}

.journal__logo-profile {
  font-size: 25px;
  padding: 10px;
}

.journal__img-profile {
  width: 60px;
  padding: 10px;
  border-radius: 50%;
}

.journal__display-name {
  font-size: 1rem;
}

.journal__date-container {
  margin-left: auto;
  width: 150px;
  outline: 1px solid black;
}

.journal__entry-country {
  width: 100%;
  text-align: center;
}
