.notes__main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.notes__country-input {
  width: 85%;
}

.notes__title-input,
.notes__textarea {
  border: 1px solid lightgray;
  &:focus {
    outline: none;
  }
}
.notes__title-input {
  font-weight: 500;
  font-size: 20px;
  width: 90%;
  margin-bottom: 10px;
  color: $dark-gray;
  border-radius: 3px;
  text-indent: 10px;
}

.notes__form-input-secundary {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.notes__price-input {
  font-weight: 500;
  font-size: 20px;
  width: 80%;
  margin-bottom: 10px;
  color: $dark-gray;
  border-radius: 3px;
  text-indent: 10px;
  border: 1px solid lightgray;
}

.notes__input-label {
  font-size: 20px;
  color: #555;
  margin-bottom: 0px;
}

.notes__form-input {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.notes__form-input-main {
  padding: 5px;
  background-color: unset;
  display: flex;
  flex-direction: row;
  background: unset;
  border-radius: 3px;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.notes__form-input-title {
  display: flex;
  flex-direction: column;
  width: 200%;
  min-width: 500px;
  padding: 0px;
}

.notes__date-input {
  width: 90%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.notes__form-input-date {
  display: flex;
  align-self: flex-start;
  min-width: 200px;
  flex-direction: column;
  // background-color: blue;
  width: 100%;
  padding: 0px;
}

.notes__textarea {
  width: 100%;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: $dark-gray;
}

.notes__image-link img {
  box-shadow: 5px 5px $light-gray;
  border-radius: 3px;
  margin-right: 10px;
}

.notes__img-list-container {
  max-width: 500px; //sssssssssssssssssssssssssssssssssss
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: red;
}

.notes__img-note {
  min-width: 100px;
  max-width: 250px;
}
