.notes__main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.notes__title-input,
.notes__textarea {
  border: none;
  background-color: #222;
  &:focus {
    outline: none;
  }
}
.notes__title-input {
  color: $dark-gray;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
  color: $primary;
}

.notes__textarea {
  color: $dark-gray;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: $light-gray;
}

.notes__image img {
  box-shadow: 5px 5px $light-gray;
  border-radius: 3px;
}
